@font-face {
    font-family: aptos;
    src: url(aptos-light.ttf);
}

.aptos {
    font-family: aptos;
    font-weight: 900;
}

.dark-text {
    color: rgb(19, 31, 34);
}

.montserrat {
    font-family: "Montserrat", sans-serif;
    /* font-optical-sizing: auto; */
    /* font-weight: 300; */
    /* font-style: normal; */
}

.off-white-bg {
    background-color: rgb(233,233, 233);
}

.bg-image {
    background-image: url(./stock-mail.png);
    background-position: center;
    background-size: cover;
}

.weather-grad {
    background: rgb(15, 79, 156);
    border: 2px solid rgb(15, 79, 156);
}

.ticker-grad {
    background: linear-gradient(90deg,rgb(233,233, 233) 20%, rgb(15, 79, 156) 41%);
    border: 2px solid rgb(15, 79, 156);
}

.header-grad {
    background: rgb(191, 219, 254);
    background: linear-gradient(270deg, rgb(233,233, 233) 15%, rgb(15, 79, 156)51%);
    border: 2px solid rgb(15, 79, 156);
    /* background-size: 300% 100%; */
    /* animation: gradientAnimation 10s ease alternate infinite; */
}


@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    50% {
        display: block;
        opacity: 1;
    }

    100% {
        display: block;
        opacity: 0;
    }
}

@keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }


  .text-shadow {
    text-shadow: 2px 2px 1px #000;
  }

  .text-highlight {
    text-shadow: 2px 2px 1px rgb(191, 219, 254);
  }

  .text-heavy {
    font-weight: 900;
  }