:root {
  --dark-blue: #1E73BE;
  --light-blue: #B8D8EF;
}


.dark-blue {
  background-color: var(--dark-blue);
}

.dark-blue-text {
  color: var(--dark-blue);
}

.light-blue {
  background-color: var(--light-blue);
}

.indie {
  font-family: "Indie Flower", cursive;
  font-weight: 500;
  font-style: normal; 
}

.indie-bold {
  font-family: "Indie Flower", cursive;
  font-weight: 900;
  font-style: normal; 
}


.dm-sans {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.dm-sans-light { 
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
 
ul,li{
  list-style:none;
}

ul li{
  display: flex;
  justify-content: center;
}

ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
ul li a{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:9rem;
  width:9rem;
  padding: 10px;
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  transform: rotate(-6deg);
}

ul li:nth-child(1) a{
  transform:rotate(-3deg);
  position:relative;
  margin-right: 2rem;
  /* margin-top: 1rem; */
}
ul li:nth-child(2) a{
  transform:rotate(4deg);
  position:relative;
  background:#cfc;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: .5rem;
  animation-delay: 10s;
}
ul li:nth-child(3) a{
  transform:rotate(-3deg);
  position:relative;
  margin-right: 4rem;
  background:#fff;
  animation-delay: 20s;
}
ul li:nth-child(4) a{
  transform:rotate(3deg); 
  background:#fff;
  margin-left: 5rem;
  margin-top: 1rem;
  animation-delay: 30s;
}
ul li:nth-child(5) a{
  transform:rotate(-9deg);
  margin-left: 4rem;
  margin-top: 2rem;
  animation-delay: 24s;
  background:#ccf;
}
ul li:nth-child(6) a{
  transform:rotate(5deg);
  margin-left: 6rem;
  animation-delay: 40s;
  
}

/* @keyframes scaleAndShadow {
  80% {
    box-shadow: 0 0 0 rgba(0, 0, 0, 3);
    transform: scale(1);
    transform: rotate(6deg);
  }
  
  100% {
    box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
    transform: scale(4);
    transform: rotate(-6deg);
    transform:translateZ(5)
  }
} */

#scrolling-services {
  height: 800px;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  display: inline-block;
}

@keyframes scrollUp {
  0%, 100% {
    transform: translateY(2%);
  }

  50% {
    transform: translateY(-60%);
  }
}

.scrolling-content {
  /* display: inline-block; */
/* white-space: nowrap; */
  animation: scrollUp 25s ease-in-out infinite;
}

@keyframes fadeInFromNone {
  0% {
      display: none;
      opacity: 0;
  }

  50% {
      display: block;
      opacity: 1;
  }

  100% {
      display: block;
      opacity: 0;
  }
}

.scrolling-content img {
  width: 100px;
}