@keyframes moveX {
    0% {
      transform: translateX(-20px);
    }
    50% {
      transform: translateX(20px);
    }
    100% {
      transform: translateX(-20px);
    }
  }

  #welcome {
    animation: moveX 5s infinite ease-in-out;
  }

  .gray-lines {
    background-image: url(./gray-lines.png);
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: .8
  }


 @keyframes shrinkX {
    0% {
        transform: scaleX(0);
        transform-origin: left;
      }
      100% {
        transform: scaleX(1);
        transform-origin: left;
      }
 }


 @keyframes shrinkXRight {
  0% {
      transform: scaleX(0);
      transform-origin: right;
    }
    100% {
      transform: scaleX(1);
      transform-origin: right;
    }
}


@keyframes fadein {
  0% {
  opacity: 0;
  }

  100%{
    opacity: 100%;
  }
}


.fade-in-animation {
  animation: fadein 1s ease-in;
}


.shrink-animation {
  animation: shrinkX 1s ease-in;
} 


.shrink-right-animation {
  animation: shrinkXRight 1s ease-in;
}




.barlow-condensed-thin {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.barlow-condensed-light {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.barlow-condensed-regular {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.barlow-condensed-bold {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.barlow-condensed-extrabold {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.barlow-condensed-black {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 900;
  font-style: normal;
}

