#digital-clock-container {
    color: #f3f3f3;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 80px;
    text-align: center;
}

#current_date {
    font-size: 20px;
    font-weight: bold;
}

.grid {
    z-index: 10;
    margin-top: 2%;
    display: grid;
    width: 65%;
    height: 800px;
    grid-template-columns: 1.4fr 0.7fr;
    grid-template-rows: 0.7fr 1fr 1fr;
    gap: 2%;
    grid-auto-flow: row;
    /* background-color: rgba(255, 255, 255, 0.6); */
    grid-template-areas:
        "Rotating-Images Time"
        "Rotating-Images Weather"
        "Rotating-Images Weather";
}

.Rotating-Images {
    grid-area: Rotating-Images;
    justify-content: center;
    align-items: center;
    border: 3px solid white; 
    padding: 1%;
    background-color: black;
    height: 750px;
    position:relative;
}

#rotating-img {
    animation: fadeInFromNone 0.5s ease-out;
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    50% {
        display: block;
        opacity: 1;
    }

    100% {
        display: block;
        opacity: 0;
    }
}


.Time {
    grid-area: Time;
    align-items: center;
    justify-content: center;
}

.Weather {
    grid-area: Weather;
    border: 3px solid white; 
    padding: 8%;
}