body, html {
    height: 100%;
    margin: 0;
}

.scrolling-image {
    background: url("./summer.png") repeat-x;
    height: 750px;
    width: 7680px;
    animation: slide 3s linear infinite;
  }
@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-3840px); /* Adjusted to match the container width */
    }
}
