#digital-clock-container {
    color: #f3f3f3;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Inter', sans-serif;
    font-size: 80px;
    text-align: center;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px rgb(0, 174, 255),
    0 0 92px rgb(0, 174, 255),
    0 0 102px rgb(0, 174, 255),
    0 0 151px rgb(0, 174, 255);
}

#current_date {
    font-size: 28px;
    /* font-weight: bold; */
}

.grid {
    z-index: 10;
    margin-top: 1%;
    display: grid;
    width: 70%;
    height: 800px;
    grid-template-columns: 1.4fr 0.7fr;
    grid-template-rows: 0.7fr 1fr 1fr;
    gap: 0% 4%;
    grid-auto-flow: row;
    /* background-color: rgba(255, 255, 255, 0.6); */
    grid-template-areas:
        "Rotating-Images Time"
        "Rotating-Images Weather"
        "Rotating-Images Weather";
}

.Rotating-Images {
    grid-area: Rotating-Images;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    box-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px rgb(0, 174, 255),
    0 0 92px rgb(0, 174, 255);
    padding: 1%;
    background-color: black;
    height: 785px;
    position:relative;
}

#rotating-img {
    animation: fadeInFromNone 0.5s ease-out;
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    50% {
        display: block;
        opacity: 1;
    }

    100% {
        display: block;
        opacity: 0;
    }
}


.Time {
    grid-area: Time;
    align-items: center;
    justify-content: center;
}

.Weather {
    grid-area: Weather;
    border: 3px solid white;
    box-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px rgb(0, 174, 255),
    0 0 92px rgb(0, 174, 255); 
    padding: 0% 8%;
}

.header {
    display: flex;
    background-color: rgba(255,255,255,.8);
    justify-content: center;
    align-items: center;
    width: 60%;
    opacity: 1;
    z-index: 100;
    border: 3px solid white;
    box-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px rgb(0, 174, 255),
    0 0 92px rgb(0, 174, 255); 
}

.neon {
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px rgb(0, 174, 255),
    0 0 92px rgb(0, 174, 255),
    0 0 102px rgb(0, 174, 255),
    0 0 151px rgb(0, 174, 255);
}