body {
    height: 100%;
    margin: 0;
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
    font-family: 'Libre Baskerville';
}

/* BACKGROUND IMAGE STYLES */
.scrolling-image {
    position: absolute;
    z-index: -1;
    background: url("./summer.png") repeat-x;
    height: 100%;
    width: 7680px;
    animation: slide 20s linear infinite;
  }

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-3840px); /* Adjusted to match the container width */
    }
}

.truck {
    position:absolute;
    left:10px;
    bottom:10px;
    width:26%;
    animation: Rumble 0.25s ease infinite;
  
  }

@keyframes Rumble {
    0%{ transform:translateY(0) translateZ(0); }
    50%{ transform:translateY(2px) translateZ(0);}
    100%{ transform:translateY(0) translateZ(0); }
  }


/* GLOBAL STYLES */
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}



.grayBG {
    background-color: #737373;
}

.weather {
    width: 10%;
}
